<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="col-sm-1 ">
    <a [routerLink]="'/account/homepage'">
      <img src="assets\imgs\logo.jpg" width="120" style="border: solid 3px green;" /></a>
  </div>
  <div class="col-sm-3">
    <a [routerLink]="'/account/login'">
      <h1>תקציב לי</h1>
    </a>
    <a [routerLink]="'/home/move'">
      <h3>המערכת שתסדר לכם את החיים!</h3>
    </a>
  </div>
  <!-- <div class="col-sm-5"[ngClass]="{'col-sm-4':name!=null}"></div> -->
  <div class="col-sm-2" > 
    <div id="notActive" *ngIf="isNotActive">
    משתמש הפך ל"לא פעיל". הנתונים שהזנתם נשמרו במערכת ותוכלו להמשיך להשתמש בהם לאחר העברת תשלום
  </div>
    </div> 
  <div class="col-sm-6">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item ">
              <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/homepage'">דף הבית </a>
            </li>  -->
             <li  class="nav-item" *ngIf="name!=null">
              <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/homePage'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-house-door" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                </svg>
                  <span> 
              דף הבית
                  </span>
              </a>
          </li>

            <!-- *ngIf="name!=null" -->
            <!-- <li class="nav-item">
              <a class="btn btn-link  btn-outline-secondary " [routerLinkActive]="'active'"
                [routerLink]="'/home/help'">עזרה</a>
            </li> -->
            <li  class="nav-item" *ngIf="name!=null">
              <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/help'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-question-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                  </svg>
                  <span> 
              עזרה
                  </span>
              </a>
          </li>
    
            <!-- <li class="nav-item">
              <a class="btn btn-link  btn-outline-secondary " [routerLinkActive]="'active'"
                [routerLink]="'/home/contact'">צור קשר</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                </svg>
            </li> -->
            <li  class="nav-item">
              <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/contact'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                  </svg>
                  <span>צור קשר
              
                  </span>
              </a>
          </li>

        <!-- <li class="nav-item "  >
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/payment'">
            לתשלום </a>
        </li> -->
        <li  class="nav-item">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/payment'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-filter-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
              <path d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                        </svg>
              <span> 
          לתשלום
              </span>
          </a>
      </li>

        <!-- <li class="nav-item" *ngIf="isAthenticate">
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/clock'">
            שעון נוכחות </a>
        </li> -->
        <li  class="nav-item" *ngIf="isAthenticate">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/clock'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-clock" viewBox="0 0 16 16">
              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                          </svg>
              <span> 
          שעון נוכחות
              </span>
          </a>
      </li>

        <!-- <li class="nav-item " *ngIf="name!=null">
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/move'">
            תנועות </a>
        </li> -->
        <li  class="nav-item" *ngIf="name!=null">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/move'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-left-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
            </svg>
              <span> 
          תנועות
              </span>
          </a>
      </li>

        <!-- <li class="nav-item " *ngIf="name!=null">
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/settings'">
            הגדרות </a>
        </li> -->
        <li  class="nav-item" *ngIf="name!=null">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/settings'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-border-width" viewBox="0 0 16 16">
              <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
            </svg>
              <span> 
          הגדרות
              </span>
          </a>
      </li>

        <!-- <li class="nav-item " *ngIf="name!=null">
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/debts'">
            חובות </a>
        </li> -->
        <li  class="nav-item"  *ngIf="name!=null">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/debts'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-clipboard2" viewBox="0 0 16 16">
              <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1z"/>
              <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5"/>
                        </svg>
              <span> 
          חובות
              </span>
          </a>
      </li>

        <!-- <li class="nav-item " *ngIf="name!=null">
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/tasks'">
            משימות </a>
        </li> -->
        <li  class="nav-item" *ngIf="name!=null">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/tasks'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-list-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
            </svg>
              <span> 
          משימות
              </span>
          </a>
      </li>

        <!-- <li class="nav-item " *ngIf="isAthenticate" >
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/reports'">
            דוחות</a>
        </li> -->
        <li  class="nav-item" *ngIf="isAthenticate">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/reports'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-sticky" viewBox="0 0 16 16">
              <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177z"/>
            </svg>
              <span> 
          דוחות
              </span>
          </a>
      </li>

        
        <!-- <li class="nav-item ">
          <a class="btn btn-link btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/about'">
            אודותינו </a>
        </li> -->
       
        <!-- <li *ngIf="name!=null" class="nav-item">
          <a class="btn btn-link  btn-outline-secondary " [routerLinkActive]="'active'"
         [routerLink]="'/home/document'">מסמכים</a>
        </li> -->
        <li  class="nav-item" *ngIf="name!=null">
          <a class="btn btn-link  btn-outline-secondary" [routerLinkActive]="'active'" [routerLink]="'/home/document'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-earmark" viewBox="0 0 16 16">
              <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
            </svg>
              <span> 
          מסמכים
              </span>
          </a>
      </li>

        <li class="nav-item dropdown">
          <a class=" btn-link btn btn-outline-secondary navbar-brand dropdown-toggle" href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-down-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M9.636 2.5a.5.5 0 0 0-.5-.5H2.5A1.5 1.5 0 0 0 1 3.5v10A1.5 1.5 0 0 0 2.5 15h10a1.5 1.5 0 0 0 1.5-1.5V6.864a.5.5 0 0 0-1 0V13.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
            <path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1H6.707l8.147-8.146a.5.5 0 0 0-.708-.708L6 9.293V5.5a.5.5 0 0 0-1 0z"/>
                    </svg>
            <span> 
        לאיזור האישי
            </span>
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="'/home/dashboard'">לאזור האישי</a>
            <!-- //check -->
            <a class="dropdown-item" [routerLink]="'/account/homepage'">לדף כניסה</a>
            <a *ngIf="isAthenticate" class="dropdown-item" [routerLink]="['/account/register',id]">עדכון פרטים</a>
            <div class="dropdown-divider"  *ngIf="!isSimpleUser"></div>
            <a class="dropdown-item" *ngIf="!isSimpleUser" [routerLink]="'/account/register'"> משתמש חדש? לרישום >></a>
          </div>
        </li>

        <li class="nav-item">
          <a class="btn btn-link  btn-outline-secondary" (click)="logOut()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
            <span> 
        יציאה
            </span>

          </a>
          <div class="active" *ngIf="isAthenticate">שלום, {{name}}</div>
        </li>
        
      </ul>
    </div>
  </div>

</nav>