<div class="card">
    <div class="card-header">
        <h4>תשלום למערכת תקציב לי</h4>
    </div>
    <div class="card-body">
        <h6>שימו לב! בשלב זה אין מימוש לגבייה באשראי במערכת, התשלום מתבצע בהעברה בנקאית.</h6>
        <h6>לאחר ביצוע ההעברה נא שלחו הוכחת תשלום למייל 
        </h6><a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=rachel@gesher4u.co.il&tf=cm">{{"rachel@gesher4u.co.il"}}</a>
        <h6> ובתוך 24 שעות תקבלו הודעה על היותכם
            משתמשים פעילים במערכת, ותוכלו להמשיך להשתמש בנתונים שהזנתם.</h6>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        <h4>בחירת מסלול לתשלום</h4>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-3">

                <br>
                <div class="card" style="height: 300px;">
                    <div class="card-header text-bold">
                        תשלום חודשי
                    </div>
                    <div class="card-body " style="margin-top:40px">

                        <span style="font-size: 80px; margin-right: 82px;"> 9.90 </span> ש"ח בלבד
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <br>
                <div class="card" style="height: 300px;">
                    <div class="card-header text-bold">
                        תשלום שנתי
                    </div>
                    <div class="card-body " style="margin-top:40px">

                        <span style="font-size: 80px; margin-right: 120px;"> 99 </span> ש"ח בלבד <br>
                        <span style="margin-right: 120px;">(חודשיים שימוש חינם!)</span> 
                    </div>
                </div>

             
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <h5>פרטי בנק לתשלום</h5>
    </div>
    <div class="card-body">
        <!-- <p>
            בנק הפועלים (12) סניף 655 מספר חשבון 470085<br>
            נא לשלוח הוכחת תשלום למייל <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=rachel@gesher4u.co.il&tf=cm">{{"rachel@gesher4u.co.il"}}</a>
        </p> -->
    </div>
</div>